<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <a [routerLink]="['./create']" class="btn btn-info mb-4">Create Post</a>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-0" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" [routerLink]="['../post']">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" [routerLink]="['../recipe']">Recipes</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 card-wrapper justify-content-center">
            <div class="card shadow">
                <!-- Card header -->
                <div class="card-header border-0" style="border-radius: 0;">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-0">Total Post - {{collectionSize}}</h3>
                        </div>
                        <div class="col-6 text-right">
                            <!-- <a href="#" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip"
                                data-original-title="Edit product">
                                <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                <span class="btn-inner--text">Export</span>
                            </a> -->
                            <a (click)="filterByStatus(1)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 1}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-success"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Active</span>
                            </a>
                            <a (click)="filterByStatus(2)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 2}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-pending"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Pending</span>
                            </a>
                            <a (click)="filterByStatus(3)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 3}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-red"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Denied</span>
                            </a>
                            <a (click)="filterByStatus(0)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 0}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-gray"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Disable</span>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2">
                            <div ngbDropdown class="d-inline-block w-100">
                                <input class="btn btn-outline-fooma btn-block" id="dropdownBasic1" ngbDropdownToggle
                                    [value]="listHashtag[hastagSelected]" (click)="loadHashtag()" readonly />
                                <app-spinner [spinnerSize]="1" [enabled]="isLoadingHashtag"></app-spinner>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
                                    <div *ngIf="!isLoadingHashtag">
                                        <button type="button" class="dropdown-item"
                                            *ngFor="let hashtag of listHashtag; let i = index" (click)="filterHashtag(i, false)">
                                            {{hashtag}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="input-group input-group-alternative input-group-merge"
                                style="border-radius: 0.3rem; border: 1px solid #e5e5e5; background-color: #f7f6f9;">
                                <div class="input-group-prepend">
                                    <span class="text-light input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <div *ngIf="numSelected >= 2" class="multi-selected">
                        <h6>{{numSelected}} selected</h6>
                        <div>
                            <a href="#!">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <table class="table table-fit align-items-center table-flush table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center" style="width: 5%;">
                                    <div class="custom-checkbox" style="font-size: 1.3rem;">
                                        <input id="check-all" type="checkbox" [(ngModel)]="masterSelected"
                                            (change)="checkUncheckAll()">
                                        <label class="mb-0" style="margin-top: 3px;" for="check-all"></label>
                                    </div>
                                </th>
                                <th style="width: 25%;">Title</th>
                                <th style="width: 12%;">User</th>
                                <th style="width: 10%;">Published Date</th>
                                <th style="width: 12%;">Hashtag</th>
                                <th>Total Comment</th>
                                <th>Total React</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of listPost" [ngClass]="{'selected': post.isSelected === true}">
                                <td class="text-center">
                                    <div class="custom-checkbox" style="font-size: 1.3rem;">
                                        <input id="{{post.id}}" type="checkbox" [(ngModel)]="post.isSelected"
                                            (change)="isAllSelected()">
                                        <label class="mb-0" for="{{post.id}}"></label>
                                    </div>
                                </td>
                                <td class="">
                                    <img src="{{post.postImages[0].imageUrl}}" style="height: 60px;"
                                        class="rounded img-thumbnail img-fluid mr-3">
                                    <a target="_blank" [routerLink]="['../post/detail', post.id]" class="font-weight-bold text-dark">{{post.title}}</a>
                                </td>
                                <td>
                                    <b>{{post.user.fullname}}</b>
                                </td>
                                <td>
                                    <span class="text-muted">{{post.publishedDate | date: 'HH:mm dd/MM/yyyy'}}</span>
                                </td>
                                <td style="width:1px; white-space:nowrap;">
                                    <div *ngFor="let hashtag of splitDescription(post.hashtag)"
                                        class="text-muted rounded px-2 bg-pending my-1" style="width: fit-content;">
                                        <a>#{{hashtag}}</a></div>
                                </td>
                                <td>
                                    <b>{{post.totalComment}}</b>
                                </td>
                                <td>
                                    <b>{{post.totalReact}}</b>
                                </td>
                                <td class="table-actions">
                                    <button *ngIf="statusSelected == 0 || statusSelected == 3" [disabled]="isLoading" (click)="setPostByStatus(post.id, 1)" class="btn btn-link table-action table-action-delete text-green" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-check-double"></i>
                                    </button>
                                    <button *ngIf="statusSelected == 1 || statusSelected == 3" [disabled]="isLoading" (click)="setPostByStatus(post.id, 0)" class="btn btn-link table-action table-action-delete text-danger" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <button *ngIf="statusSelected == 2" [disabled]="isLoading" (click)="setPostByStatus(post.id, 1)" class="btn btn-link table-action table-action-delete text-green" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button *ngIf="statusSelected == 2" [disabled]="isLoading" (click)="setPostByStatus(post.id, 3)" class="btn btn-link table-action table-action-delete text-danger" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-ban"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <div>
                                <app-spinner [enabled]="isLoading"></app-spinner>
                            </div>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ngb-pagination class="pagination justify-content-end mb-0" [collectionSize]="collectionSize" [maxSize]="5"
                            [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)">
                            <ng-template ngbPaginationPrevious>
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </ng-template>
                            <ng-template ngbPaginationNext>
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </ng-template>
                        </ngb-pagination>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>