<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row justify-content-center">
                <div class="col-lg-12 card-wrapper">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="mb-0">Waiting posts - {{listPost.length}}</h2>
                        </div>
                        <div class="card-body">
                            <div class="input-group input-group-alternative input-group-merge"
                                style="border-radius: 0.3rem; border: 1px solid #e5e5e5; background-color: #f7f6f9;">
                                <div class="input-group-prepend">
                                    <span class="text-light input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text" />
                            </div>


                            <div class="form-row mt-3 align-items-center mb-0">
                                <div class="col-auto">
                                    <div class="custom-checkbox" style="font-size: 2rem;">
                                        <input id="check-all" type="checkbox" [(ngModel)]="masterSelected"
                                            (change)="checkUncheckAll()">
                                        <label for="check-all"></label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-info">Approve</button>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-light">Decline</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-12 card-wrapper">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-0">Inline actions</h3>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip"
                                data-original-title="Edit product">
                                <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                <span class="btn-inner--text">Export</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Author</th>
                                <th>Created at</th>
                                <th>Product</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-user">
                                    <img src="../../assets/img/theme/team-1.jpg" class="avatar rounded-circle mr-3">
                                    <b>John Michael</b>
                                </td>
                                <td>
                                    <span class="text-muted">10/09/2018</span>
                                </td>
                                <td>
                                    <a href="#!" class="font-weight-bold">Argon Dashboard PRO</a>
                                </td>
                                <td class="table-actions">
                                    <a href="#!" class="table-action" data-toggle="tooltip"
                                        data-original-title="Edit product">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                    <a href="#!" class="table-action table-action-delete" data-toggle="tooltip"
                                        data-original-title="Delete product">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-user">
                                    <img src="../../assets/img/theme/team-2.jpg" class="avatar rounded-circle mr-3">
                                    <b>Alex Smith</b>
                                </td>
                                <td>
                                    <span class="text-muted">08/09/2018</span>
                                </td>
                                <td>
                                    <a href="#!" class="font-weight-bold">Argon Design System</a>
                                </td>
                                <td class="table-actions">
                                    <a href="#!" class="table-action" data-toggle="tooltip"
                                        data-original-title="Edit product">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                    <a href="#!" class="table-action table-action-delete" data-toggle="tooltip"
                                        data-original-title="Delete product">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-user">
                                    <img src="../../assets/img/theme/team-3.jpg" class="avatar rounded-circle mr-3">
                                    <b>Samantha Ivy</b>
                                </td>
                                <td>
                                    <span class="text-muted">30/08/2018</span>
                                </td>
                                <td>
                                    <a href="#!" class="font-weight-bold">Black Dashboard</a>
                                </td>
                                <td class="table-actions">
                                    <a href="#!" class="table-action" data-toggle="tooltip"
                                        data-original-title="Edit product">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                    <a href="#!" class="table-action table-action-delete" data-toggle="tooltip"
                                        data-original-title="Delete product">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-user">
                                    <img src="../../assets/img/theme/team-1.jpg" class="avatar rounded-circle mr-3">
                                    <b>John Michael</b>
                                </td>
                                <td>
                                    <span class="text-muted">10/09/2018</span>
                                </td>
                                <td>
                                    <a href="#!" class="font-weight-bold">Argon Dashboard PRO</a>
                                </td>
                                <td class="table-actions">
                                    <a href="#!" class="table-action" data-toggle="tooltip"
                                        data-original-title="Edit product">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                    <a href="#!" class="table-action table-action-delete" data-toggle="tooltip"
                                        data-original-title="Delete product">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-user">
                                    <img src="../../assets/img/theme/team-2.jpg" class="avatar rounded-circle mr-3">
                                    <b>John Michael</b>
                                </td>
                                <td>
                                    <span class="text-muted">10/09/2018</span>
                                </td>
                                <td>
                                    <a href="#!" class="font-weight-bold">Argon Dashboard PRO</a>
                                </td>
                                <td class="table-actions">
                                    <a href="#!" class="table-action" data-toggle="tooltip"
                                        data-original-title="Edit product">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                    <a href="#!" class="table-action table-action-delete" data-toggle="tooltip"
                                        data-original-title="Delete product">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>