<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
            aria-controls="sidenav-collapse-main">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
            <img src="./assets/img/brand/logo.png" class="navbar-brand-img" alt="...">
        </a>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a routerLinkActive="active" [routerLink]="['/dashboard']">
                            <img src="./assets/img/brand/logo.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li *ngFor="let menuItem of menuItems; let i = index" class="{{menuItem.class}} nav-item">
                    <a *ngIf="!menuItem.child" (click)="activeNav(i)" [routerLink]="[menuItem.path]"
                        class="nav-link {{!menuItem.isCollapsed ? 'active' : ''}}" style="font-size: 1.1rem;">
                        <i class="ni {{menuItem.icon}}"></i>
                        {{menuItem.title}}
                    </a>
                    <a *ngIf="menuItem.child" (click)="activeNav(i)" data-toggle="collapse" role="button"
                        [attr.aria-expanded]="!menuItem.isCollapsed"
                        class="nav-link {{!menuItem.isCollapsed ? 'active' : ''}}" style="font-size: 1.1rem;">
                        <i class="ni {{menuItem.icon}}"></i>
                        {{menuItem.title}}
                    </a>
                    <div *ngIf="menuItem.child" class="collapse" [ngbCollapse]="menuItem.isCollapsed">
                        <ul class="nav nav-sm flex-column">
                            <li *ngFor="let child of menuItem.child" class="{{child.class}} nav-item">
                                <a [routerLink]="[child.path]" routerLinkActive="text-dark" class="nav-link pl-4" style="font-size: 1.0rem;">
                                    <i class="ni {{child.icon}}"></i>
                                    {{child.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>