.preview {
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 3px;
    border-radius: 20px;
    border: 3px solid #d2d2d2;
}

.gallery-item {
    display: inline-block;
    position: relative;
}

.gallery-img {
    opacity: 1;
    transition: opacity 0.1s ease-in;
    /* transition the opacity for nice fade */
}

.gallery-item:hover .gallery-img {
    opacity: 0.7;
    /* change opacity on wrapper div hover */
}

.gallery-item:hover > a {
    display: block;
    /* change opacity on wrapper div hover */
}

.thumbnail {
    border: 3px solid #ff7731;
}

.remove-button {
    display: none;
    position: absolute;
    font-size: 1.7em;
    top: 4px;
    right: 10px;
    cursor: pointer;
    color: #ff2121;
}

.thumbnail-button {
    display: none;
    position: absolute;
    font-size: 1.7em;
    top: 4px;
    right: 43px;
    cursor: pointer;
    color: #ff7925;
}

.btn-upload {
    z-index: 0;
    width: 300px;
    height: 300px;
    outline: none;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 0;
    float: left;
    margin-right: 4px;
    &:hover {
        background: #f6f6f6;
    }
    & span {
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: #637381;
        transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
}