<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 card-wrapper">
                <div class="header-body">
                    <a [routerLink]="['../']" class="btn btn-info mb-4">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner [enabled]="isLoading"></app-spinner>
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-8 card-wrapper">
            <form [formGroup]="editForm" (ngSubmit)="editPost()">
                <div class="card">
                    <div class="card-header">
                        <h2>Sửa bài viết</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label" for="input-title">Tiêu đề</label>
                            <input id="input-title" class="form-control form-control-alternative"
                                placeholder="Nhập tiêu đề" formControlName="title" type="text">
                            <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                <div *ngIf="f['title'].errors!['required']">Tiêu đề không được để trống</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-content">Nội dung</label>
                            <textarea class="form-control form-control-alternative" id="input-content"
                                formControlName="content" placeholder="Nhập nội dung"></textarea>
                            <div *ngIf="submitted && f['content'].errors" class="invalid-feedback">
                                <div *ngIf="f['content'].errors!['required']">Nội dung không được để trống</div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Hashtag</label>
                            <tag-input [(ngModel)]='hashtags' [theme]="'fooma-theme'" [ngModelOptions]="{standalone: true}">
                            </tag-input>
                        </div> -->
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Ảnh thumbnail</label><br>
                            <div *ngIf="submitted && previews.length === 0" class="invalid-feedback">
                                Hình ảnh không được để trống
                            </div>
                            <div >
                                <button type="button" class="btn-upload" (click)="fileInput.click()">
                                    <span><i class="fas fa-upload"></i>  Tải lên</span>
                                    <input #fileInput type="file" accept="image/*" multiple (change)="selectFiles($event)"  style="display:none;" />
                                </button>
                                <span class="gallery-item" *ngFor="let preview of previews; let i = index">
                                    <img (click)="setThumbnail(i)" [src]="preview" alt="gallery thumbnail" class="gallery-img preview" [ngClass]="{'thumbnail': thumbnailNumber === i}" />
                                    <a (click)="removeImgPreview(preview)" class="remove-button"><i class="fas fa-times-circle"></i></a>
                                    <!-- <a (click)="setThumbnail(i)" class="thumbnail-button"><i class="fas fa-bookmark"></i></a> -->
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button *ngIf="!isDone" type="submit" [disabled]="isLoading" class="btn btn-block btn-fooma">Cập nhật bài viết</button>
                                <div *ngIf="isDone" class="mt-2">
                                    <h2>Đã cập nhật bài viết <a class="text-fooma" [routerLink]="['../']">Quay lại</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>