<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-0" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" [routerLink]="['../post']">Bài viết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" [routerLink]="['../recipe']">Công thức</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 card-wrapper justify-content-center">
            <div class="card shadow">
                <!-- Card header -->
                <div class="card-header border-0" style="border-radius: 0;">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-0">Tổng số công thức - {{collectionSize}}</h3>
                        </div>
                        <div class="col-6 text-right">
                            <a (click)="filterByStatus(1)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 1}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-success"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Active</span>
                            </a>
                            <a (click)="filterByStatus(2)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 2}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-pending"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Pending</span>
                            </a>
                            <a (click)="filterByStatus(3)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 3}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-red"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Denied</span>
                            </a>
                            <a (click)="filterByStatus(0)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 0}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-gray"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Disable</span>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <button type="button" class="btn btn-outline-fooma btn-block" (click)="collapse.toggle()" (click)="initFilter()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Bộ lọc</button>
                        </div>
                        <div class="col-10">
                            <div class="input-group input-group-alternative input-group-merge"
                                style="border-radius: 0.3rem; border: 1px solid #e5e5e5; background-color: #f7f6f9;">
                                <div class="input-group-prepend">
                                    <span class="text-light input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" [ngModel]="search" (ngModelChange)='onSearchChange($event)' type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <div class="col-2">
                                                <tag-input [(ngModel)]='listCategory' [theme]="'fooma-theme'" [identifyBy]="'recipeCategoryId'"
                                                    [displayBy]="'recipeCategoryName'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Danh mục" placeholder="Danh mục" (onSelect)="onTagSelected($event)"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <tag-input-dropdown
                                                        [autocompleteObservable]="requestAutocompleteItemsCategory$"
                                                        [displayBy]="'recipeCategoryName'"
                                                        [identifyBy]="'recipeCategoryId'"
                                                        [showDropdownIfEmpty]="true"
                                                        [minimumTextLength]="0"
                                                        [focusFirstElement]="true"
                                                        [keepOpen]="false"
                                                    >
                                                    </tag-input-dropdown>
                                                </tag-input>
                                            </div>
                                            <div class="col-2">
                                                <tag-input [(ngModel)]='listCountry' [theme]="'fooma-theme'" [identifyBy]="'id'"
                                                    [displayBy]="'originName'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Xuất xứ" placeholder="Xuất xứ" (onSelect)="onTagSelected($event)"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <tag-input-dropdown
                                                        [autocompleteObservable]="requestAutocompleteItemsCountry$"
                                                        [displayBy]="'originName'"
                                                        [identifyBy]="'id'"
                                                        [showDropdownIfEmpty]="true"
                                                        [minimumTextLength]="0"
                                                        [focusFirstElement]="true"
                                                        [keepOpen]="false"
                                                    >
                                                    </tag-input-dropdown>
                                                </tag-input>
                                            </div>
                                            <div class="col-2">
                                                <tag-input [(ngModel)]='listMethod' [theme]="'fooma-theme'" [identifyBy]="'id'"
                                                    [displayBy]="'cookingMethodName'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Phương pháp" placeholder="Phương pháp" (onSelect)="onTagSelected($event)"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <tag-input-dropdown
                                                        [autocompleteObservable]="requestAutocompleteItemsMethod$"
                                                        [displayBy]="'cookingMethodName'"
                                                        [identifyBy]="'id'"
                                                        [showDropdownIfEmpty]="true"
                                                        [minimumTextLength]="0"
                                                        [focusFirstElement]="true"
                                                        [keepOpen]="false"
                                                    >
                                                    </tag-input-dropdown>
                                                </tag-input>
                                            </div>
                                            <div class="col-2">
                                                <tag-input [(ngModel)]='listTime' [theme]="'fooma-theme'" [maxItems]="1" secondaryPlaceholder="Thời gian (phút)" placeholder="Thời gian (phút)" (onSelect)="onTagSelected($event)"
                                                    [ngModelOptions]="{standalone: true}" [validators]="validators">
                                                </tag-input>
                                            </div>
                                            <div class="col-2">
                                                <div ngbDropdown class="d-inline-block w-100">
                                                    <input class="btn btn-outline-fooma btn-block" id="dropdownBasic1" ngbDropdownToggle
                                                        [value]="listHashtag[hastagSelected]" (click)="loadHashtag()" readonly />
                                                    <app-spinner [spinnerSize]="1" [enabled]="isLoadingHashtag"></app-spinner>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
                                                        <div *ngIf="!isLoadingHashtag">
                                                            <button type="button" class="dropdown-item"
                                                                *ngFor="let hashtag of listHashtag; let i = index" (click)="filterHashtag(i)">
                                                                {{hashtag}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col text-right">
                                                <button class="btn btn-block btn-fooma" (click)="searchByFilter()">Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <div *ngIf="numSelected >= 2" class="multi-selected">
                        <h6>{{numSelected}} selected</h6>
                        <div>
                            <a href="#!">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <table class="table table-fit align-items-center table-flush table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center" style="width: 5%;">
                                    <div class="custom-checkbox" style="font-size: 1.3rem;">
                                        <input id="check-all" type="checkbox" [(ngModel)]="masterSelected"
                                            (change)="checkUncheckAll()">
                                        <label class="mb-0" style="margin-top: 3px;" for="check-all"></label>
                                    </div>
                                </th>
                                <th style="width: 25%;">Title</th>
                                <th style="width: 12%;">User</th>
                                <th style="width: 10%;">Published Date</th>
                                <th style="width: 12%;">Hashtag</th>
                                <th>Cooking Method</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let recipe of recipes" [ngClass]="{'selected': recipe.isSelected === true}">
                                <td class="text-center">
                                    <div class="custom-checkbox" style="font-size: 1.3rem;">
                                        <input id="{{recipe.id}}" type="checkbox" [(ngModel)]="recipe.isSelected"
                                            (change)="isAllSelected()">
                                        <label class="mb-0" for="{{recipe.id}}"></label>
                                    </div>
                                </td>
                                <td class="">
                                    <img src="{{recipe.thumbnail}}" style="height: 60px;"
                                        class="img-thumbnail img-fluid mr-3">
                                    <a target="_blank" [routerLink]="['../recipe/detail', recipe.id]"
                                        class="font-weight-bold text-dark">{{recipe.recipeName}}</a>
                                </td>
                                <td>
                                    <b>{{recipe.user.fullname}}</b>
                                </td>
                                <td>
                                    <span class="text-muted">{{recipe.createDate | date: 'HH:mm dd/MM/yyyy'}}</span>
                                </td>
                                <td style="width:1px; white-space:nowrap;">
                                    <div *ngFor="let hashtag of splitDescription(recipe.hashtag)"
                                        class="text-muted rounded px-2 bg-pending my-1" style="width: fit-content;">
                                        <a>#{{hashtag}}</a></div>
                                </td>
                                <td>
                                    <b>{{recipe.cookingMethodName}}</b>
                                </td>
                                <td>
                                    <b>{{recipe.manyToManyRecipeCategories[0].recipeCategoryName}}</b>
                                </td>
                                <td class="table-actions">
                                    <button *ngIf="statusSelected == 0 || statusSelected == 3" [disabled]="isLoading" (click)="setRecipeByStatus(recipe.id, 1)" class="btn btn-link table-action table-action-delete text-green" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-check-double"></i>
                                    </button>
                                    <button *ngIf="statusSelected == 1 || statusSelected == 3" [disabled]="isLoading" (click)="setRecipeByStatus(recipe.id, 0)" class="btn btn-link table-action table-action-delete text-danger" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <button *ngIf="statusSelected == 2" [disabled]="isLoading" (click)="setRecipeByStatus(recipe.id, 1)" class="btn btn-link table-action table-action-delete text-green" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button *ngIf="statusSelected == 2" [disabled]="isLoading" (click)="setRecipeByStatus(recipe.id, 3)" class="btn btn-link table-action table-action-delete text-danger" data-toggle="tooltip" data-original-title="Delete Post">
                                        <i class="fas fa-ban"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <div>
                                <app-spinner [enabled]="isLoading"></app-spinner>
                            </div>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ngb-pagination class="pagination justify-content-end mb-0" [collectionSize]="collectionSize" [maxSize]="5"
                            [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)">
                            <ng-template ngbPaginationPrevious>
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </ng-template>
                            <ng-template ngbPaginationNext>
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </ng-template>
                        </ngb-pagination>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
