<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-0" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" [routerLink]="['../post']">Bài viết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" [routerLink]="['../recipe']">Công thức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" [routerLink]="['../user']">Người dùng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 card-wrapper justify-content-center">
            <div class="card shadow">
                <!-- Card header -->
                <div class="card-header border-0" style="border-radius: 0;">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-0">Tổng số báo cáo - {{collectionSize}}</h3>
                        </div>
                        <div class="col-6 text-right">
                            <a (click)="filterByStatus(2)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 2}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-success"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Chờ xử lí</span>
                            </a>
                            <a (click)="filterByStatus(1)" class="btn btn-disable btn-round" [ngClass]="{'active-status': statusSelected == 1}" href="javascript:void(0)">
                                <span class="badge badge-dot"><i class="bg-pending"></i></span>
                                <!-- <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span> -->
                                <span class="btn-inner--text">Đã xử lí</span>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="input-group input-group-alternative input-group-merge"
                                style="border-radius: 0.3rem; border: 1px solid #e5e5e5; background-color: #f7f6f9;">
                                <div class="input-group-prepend">
                                    <span class="text-light input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text" [ngModel]="searchValue" (ngModelChange)='onSearchChange($event)'/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <div *ngIf="numSelected >= 2" class="multi-selected">
                        <h6>{{numSelected}} selected</h6>
                        <div>
                            <a href="#!">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <table class="table table-fit align-items-center table-flush table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Người báo cáo</th>
                                <th>Tên công thức</th>
                                <th>Tiêu đề</th>
                                <th>Nội dung</th>
                                <th>Ngày báo cáo</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let recipe of reportRecipes; let i = index" [ngClass]="{'selected': recipe.isSelected === true}">
                                <td>
                                    <b>{{recipe.userName}}</b>
                                </td>
                                <td>
                                    <a (click)="showRecipe(recipe.recipeId, recipe.id)" class="font-weight-bold text-dark" style="cursor: pointer;">{{recipe.recipeName}}</a>
                                </td>
                                <td>
                                    <span class="text-muted">{{recipe.title}}</span>
                                </td>
                                <td>
                                    <span class="text-muted">{{recipe.content}}</span>
                                </td>
                                <td style="width:1px; white-space:nowrap;">
                                    <span class="text-muted">{{recipe.createDate | date: 'HH:mm dd/MM/yyyy'}}</span>
                                </td>
                                <td class="table-actions">
                                    <button *ngIf="statusSelected === 2" [disabled]="isLoading" (click)="setReportStatus(recipe.id, recipe.recipeId, 1)" class="btn btn-link table-action table-action-delete text-green" data-toggle="tooltip" data-original-title="Delete Recipe">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button *ngIf="statusSelected === 2" [disabled]="isLoading" (click)="showPopup(confirmModal, i)" class="btn btn-link table-action table-action-delete text-danger" data-toggle="tooltip" data-original-title="Delete Recipe">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <div>
                                <app-spinner [enabled]="isLoading"></app-spinner>
                            </div>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ngb-pagination class="pagination justify-content-end mb-0" [collectionSize]="collectionSize" [maxSize]="5"
                            [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)">
                            <ng-template ngbPaginationPrevious>
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </ng-template>
                            <ng-template ngbPaginationNext>
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </ng-template>
                        </ngb-pagination>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Xác nhận xóa</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="confirmModalRef.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Bạn có chắc là muốn xóa <span class="text-primary">"{{reportRecipes[selectedIndex].recipeName}}"</span>?</strong></p>
        <p>Tất cả các thông tin liên quan đến dữ liệu này sẽ bị xóa.
            <span class="text-danger">Hành động này có thể không được hoàn tác.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="confirmModalRef.dismiss('Cancel click')">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Ok</button>
    </div>
</ng-template>