<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 card-wrapper">
                <div class="header-body">
                    <a [routerLink]="['../']" class="btn btn-info mb-4">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-8 card-wrapper">
            <form [formGroup]="createForm" (ngSubmit)="createRecipe()">
                <div class="card">
                    <div class="card-header">
                        <h2>Create Recipe</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label" for="input-name">Name</label>
                            <input id="input-name" class="form-control form-control-alternative"
                                placeholder="Input name" formControlName="name" type="text">
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors!['required']">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-description">Description</label>
                            <textarea class="form-control form-control-alternative" id="input-description"
                                formControlName="description" placeholder="Input description"></textarea>
                            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                <div *ngIf="f['description'].errors!['required']">Description is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Origin</label>
                            <tag-input [(ngModel)]='origin' [theme]="'fooma-theme'" [identifyBy]="'id'"
                                [displayBy]="'name'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Origin" placeholder="Add Origin" (onSelect)="onTagSelected($event)"
                                [ngModelOptions]="{standalone: true}">
                                <tag-input-dropdown
                                    [autocompleteObservable]="requestAutocompleteItemsOrigin$"
                                    [displayBy]="'originName'"
                                    [identifyBy]="'id'"
                                    [showDropdownIfEmpty]="true"
                                    [minimumTextLength]="0"
                                    [focusFirstElement]="true"
                                >
                                </tag-input-dropdown>
                            </tag-input>
                            <div *ngIf="submitted && origin.length === 0" class="invalid-feedback">
                                Origin is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Method</label>
                            <tag-input [(ngModel)]='method' [theme]="'fooma-theme'" [identifyBy]="'id'"
                                [displayBy]="'name'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Method" placeholder="Add Method" (onSelect)="onTagSelected($event)"
                                [ngModelOptions]="{standalone: true}">
                                <tag-input-dropdown
                                    [autocompleteObservable]="requestAutocompleteItemsMethod$"
                                    [displayBy]="'cookingMethodName'"
                                    [identifyBy]="'id'"
                                    [showDropdownIfEmpty]="true"
                                    [minimumTextLength]="0"
                                    [focusFirstElement]="true"
                                >
                                </tag-input-dropdown>
                            </tag-input>
                            <div *ngIf="submitted && origin.length === 0" class="invalid-feedback">
                                Origin is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Category</label>
                            <tag-input [(ngModel)]='categories' [theme]="'fooma-theme'" [identifyBy]="'id'"
                                [displayBy]="'name'" [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Category" placeholder="Add Category" (onSelect)="onTagSelected($event)"
                                [ngModelOptions]="{standalone: true}">
                                <tag-input-dropdown
                                    [autocompleteObservable]="requestAutocompleteItemsCategory$"
                                    [displayBy]="'recipeCategoryName'"
                                    [identifyBy]="'id'"
                                    [showDropdownIfEmpty]="true"
                                    [minimumTextLength]="0"
                                    [focusFirstElement]="true"
                                >
                                </tag-input-dropdown>
                            </tag-input>
                            <div *ngIf="submitted && categories.length === 0" class="invalid-feedback">
                                Category is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Hashtag</label>
                            <tag-input placeholder="Add Hashtag" secondaryPlaceholder="Add Hashtag" [(ngModel)]='hashtags' [theme]="'fooma-theme'"
                                [ngModelOptions]="{standalone: true}">
                            </tag-input>
                            <div *ngIf="submitted && hashtags.length === 0" class="invalid-feedback">
                                Hashtag is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Upload Images</label><br>
                            <div *ngIf="submitted && previews.length === 0" class="invalid-feedback">
                                Image is required
                            </div>
                            <div>
                                <button type="button" class="btn-upload" (click)="fileInput.click()">
                                    <span><i class="fas fa-upload"></i> Upload</span>
                                    <input #fileInput type="file" accept="image/*" multiple
                                        (change)="selectFiles($event)" style="display:none;" />
                                </button>
                                <span class="gallery-item" *ngFor="let preview of previews; let i = index">
                                    <img [src]="preview" alt="gallery thumbnail" class="gallery-img preview"
                                        [ngClass]="{'thumbnail': thumbnailNumber === i}" />
                                    <a (click)="removeImgPreview(preview)" class="remove-button"><i
                                            class="fas fa-times-circle"></i></a>
                                    <a (click)="setThumbnail(i)" class="thumbnail-button"><i
                                            class="fas fa-bookmark"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button *ngIf="!isDone" type="submit" [disabled]="isLoading"
                                    class="btn btn-fooma">Create</button>
                                <div *ngIf="isDone" class="mt-2">
                                    <h2>Post created successfully <a class="text-fooma" [routerLink]="['../']">Go
                                            back</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Ingredients</h2>
                    </div>
                    <div class="card-body" formArrayName="ingredients">
                        <div class="rounded px-4 py-2 mb-4 shadow" *ngFor="let ingredient of formIngredient.controls; let i = index">
                            <div class="form-group" [formGroupName]="i">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <label class="form-control-label" for="input-hashtag">Ingredient Name</label>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="btn-group">
                                            <!-- <a class="mr-2" (click)="increaseIngredient()">
                                                <h2 class="text-fooma"><i class="fas fa-plus-circle"></i></h2>
                                            </a> -->
                                            <a *ngIf="i >= 1" (click)="removeIngredient(i)">
                                                <h2 class="text-danger"><i class="fas fa-minus-circle"></i></h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <tag-input  formControlName="ingredientName" [theme]="'fooma-theme'" [identifyBy]="'id'"
                                    [displayBy]="'name'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Ingredient" placeholder="Add Ingredient" (onSelect)="onTagSelected($event)"
                                    >
                                    <tag-input-dropdown
                                        [autocompleteObservable]="requestAutocompleteItemsIngredient$"
                                        [displayBy]="'ingredientName'"
                                        [identifyBy]="'ingredientDbid'"
                                        [showDropdownIfEmpty]="false"
                                    >
                                    </tag-input-dropdown>
                                </tag-input>
                                <div *ngIf="submitted && formIngredient.controls[i]['controls']['ingredientName']['errors']" class="invalid-feedback">
                                    <div *ngIf="formIngredient.controls[i]['controls']['ingredientName']['errors']['required']">Ingredient is required</div>
                                </div>
                            </div>
                            <div class="form-row" [formGroupName]="i">
                                <div class="col">
                                    <label class="form-control-label" for="input-quantity">Quantity</label>
                                    <input id="input-quantity" class="form-control form-control-alternative"
                                        placeholder="Input quantity" type="number" min="1" formControlName="quantity" required>
                                    <div *ngIf="submitted && formIngredient.controls[i]['controls']['quantity']['errors']" class="invalid-feedback">
                                        <div *ngIf="formIngredient.controls[i]['controls']['quantity']['errors']['required']">Quanity is required</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="form-control-label" for="input-unit">Unit</label>
                                    <input id="input-unit" class="form-control form-control-alternative"
                                        placeholder="Input unit" type="string" formControlName="unit" required>
                                    <div *ngIf="submitted && formIngredient.controls[i]['controls']['unit']['errors']" class="invalid-feedback">
                                        <div *ngIf="formIngredient.controls[i]['controls']['unit']['errors']['required']">Unit is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" (click)="increaseIngredient()" class="btn btn-fooma">Add Ingredient</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Methods</h2>
                    </div>
                    <div class="card-body" formArrayName="methods">
                        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" class="rounded px-4 py-2 mb-4 shadow" *ngFor="let method of formMethod.controls; let i = index">
                            <div class="form-group" [formGroupName]="i">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h3 for="input-hashtag" class="text-fooma"><span cdkDragHandle>Step {{i+1}}</span></h3>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="btn-group">
                                            <a *ngIf="i >= 1" (click)="removeMethod(i)">
                                                <h2 class="text-danger"><i class="fas fa-minus-circle"></i></h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="input-content">Content</label>
                                <textarea class="form-control form-control-alternative" id="input-content"
                                formControlName="content" placeholder="Input content"></textarea>
                                <div *ngIf="submitted && f['content'].errors" class="invalid-feedback">
                                    <div *ngIf="f['content'].errors!['required']">Content is required</div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="form-control-label" for="input-hashtag">Upload Images</label><br>
                                <div *ngIf="submitted && previews.length === 0" class="invalid-feedback">
                                    Image is required
                                </div>
                                <div>
                                    <button type="button" class="btn-upload" (click)="fileInput.click()">
                                        <span><i class="fas fa-upload"></i> Upload</span>
                                        <input #fileInput type="file" accept="image/*" multiple
                                            (change)="selectFiles($event)" style="display:none;" />
                                    </button>
                                    <span class="gallery-item" *ngFor="let preview of previews; let i = index">
                                        <img [src]="preview" alt="gallery thumbnail" class="gallery-img preview"
                                            [ngClass]="{'thumbnail': thumbnailNumber === i}" />
                                        <a (click)="removeImgPreview(preview)" class="remove-button"><i
                                                class="fas fa-times-circle"></i></a>
                                        <a (click)="setThumbnail(i)" class="thumbnail-button"><i
                                                class="fas fa-bookmark"></i></a>
                                    </span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" (click)="increaseMethod()" class="btn btn-fooma">Add Method</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>