<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thông tin bài viết</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="col-xl order-xl-1">
        <div *ngIf="!post" class="card">
            <div class="card-body text-center">
                <img src="./assets/img/brand/logo.png" class="navbar-brand-img mb-4" alt="logo" style="width: 230px;">
                <h3>Bài viết không tồn tại</h3>
                <a class="" (click)="activeModal.dismiss('Cross click')">Quay lại</a>
            </div>
        </div>
        <div *ngIf="!isLoading && post && reportId" class="card">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-success btn-block" [disabled]="isLoading" (click)="setReportStatus(1)"><i class="fas fa-check"></i> Bỏ qua</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-danger btn-block" [disabled]="isLoading" (click)="showPopup(confirmModal)"><i class="fas fa-trash"></i> Bỏ qua và xóa bài viết</button>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading && post" class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-auto text-center">
                            </div>
                            <div class="col-auto">
                                <img alt="avatar" [src]="post?.user?.avatarUrl" class="avatar rounded-circle">
                            </div>
                            <div class="col-auto">
                                <h3 class="card-title font-weight-bold mb-0">{{post?.user?.fullname}}</h3>
                                <span class="h5 mb-0 font-weight-light">Đã đăng {{ post?.publishedDate}} ({{post?.publishedDate | date: 'HH:mm dd/MM/yyyy'}})</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title mb-1">{{post?.title}}</h4>
                <p class="card-text">{{post?.content}}</p>
                <ngb-carousel *ngIf="post?.postImages">
                    <ng-template ngbSlide *ngFor="let image of post?.postImages">
                        <div class="picsum-img-wrapper d-flex justify-content-center">
                          <img [src]="image.imageUrl" alt="Random slide" style="height: 600px;">
                        </div>
                    </ng-template>
                </ngb-carousel>
                <br>
                <a href="javascript:void(0)" [routerLink]="['../../post/hashtag/', hashtag]" *ngFor="let hashtag of splitDescription(post.hashtag)" class="text-muted rounded mr-2 px-2 bg-pending my-1" style="width: fit-content;">
                    #{{hashtag}}
                </a>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <div class="d-inline-flex align-items-center text-fooma">
                            <i class="ni ni-favourite-28"></i>
                            <span class="ml-2 text-dark">{{post?.totalReact}}</span>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <span>
                            {{post?.totalComment}} bình luận
                        </span>
                    </div>
                </div>
                <hr class="mt-3">
                <div class="row mb-4" *ngFor="let comment of post?.postComments">
                    <div class="col-auto">
                        <img class="avatar rounded-circle" [src]="comment.userImageUrl" alt="avatar commentor">
                    </div>
                    <div class="col-11">
                        <div class="px-3 py-2 w-100 rounded" style="background-color: #f6f6f6">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="mb-0">{{comment.name}}</h4>
                                </div>
                                <div class="col-6 text-right">
                                    <span>
                                        {{comment.createDate | date: 'HH:mm dd/MM/yyyy'}}
                                    </span>
                                </div>
                            </div>
                            <p class="mb-0">
                                {{comment.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close()">Close</button>
</div>

<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Xác nhận xóa</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="confirmModalRef.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Bạn có chắc là muốn xóa <span class="text-primary">"{{post.title}}"</span>?</strong></p>
        <p>Tất cả các thông tin liên quan đến dữ liệu này sẽ bị xóa.
            <span class="text-danger">Hành động này có thể không được hoàn tác.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="confirmModalRef.dismiss('Cancel click')">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Ok</button>
    </div>
</ng-template>