<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thông tin người dùng</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">×</span>
    </button>
</div>
<app-spinner [enabled]="isGettingData"></app-spinner>
<div class="modal-body">
    <div *ngIf="!isLoading && user && reportId" class="card">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-success btn-block" [disabled]="isLoading" (click)="acceptReport()"><i class="fas fa-check"></i> Bỏ qua</button>
            </div>
            <div class="col-6">
                <button class="btn btn-danger btn-block" [disabled]="isLoading" (click)="showPopup()"><i class="fas fa-user-slash"></i> Ban người dùng này</button>
            </div>
        </div>
    </div>
    <form *ngIf="!isGettingData" [formGroup]="form">
        <div class="pl-lg-4">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img [src]="user.imageUrl" class="rounded-circle shadow" alt="user avatar" style="height: 120px; width: 120px; object-fit: cover; object-position: center;" />
                </div>
                <div class="col-auto">
                    <h2 class="mb-2">{{user.email}}</h2>
                    <h5 class="text-muted">ID: <b>{{user.id}}</b></h5>
                    <h5 class="text-muted">Quyền: <b>{{user.role | titlecase}}</b></h5>
                    <h5 class="text-muted">Ngày tham gia: <b>{{user.createDate | date: 'dd/MM/yyyy'}}</b></h5>
                    <h5 class="text-muted">Tổng số bài viết: <b>{{user.totalPost}}</b></h5>
                    <h5 class="text-muted">Tổng số công thức: <b>{{user.totalRecipe}}</b></h5>
                </div>
                <div class="col text-right align-items-start">
                    <!-- <button type="button" class="btn btn-success" (click)="toggleEdit()">Edit</button> -->
                </div>
            </div>
            <hr class="my-4" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="input-fullname">Họ và tên</label>
                        <input type="text" id="input-fullname" class="form-control form-control-alternative"
                            placeholder="Họ và tên" formControlName="fullName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="input-bio">Bio</label>
                        <textarea type="text" id="input-bio" class="form-control form-control-alternative"
                            placeholder="Bio" formControlName="bio"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-phone">Số điện thoại</label>
                        <input type="text" id="input-phone" class="form-control form-control-alternative"
                            placeholder="0123456789" formControlName="phone">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-dob">Ngày sinh</label>
                        <input type="date" id="input-dob" class="form-control form-control-alternative"
                        formControlName="dob" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close()">Đóng</button>
</div>