<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 card-wrapper">
                <div class="header-body">
                    <a [routerLink]="['../']" class="btn btn-info mb-4">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-8 card-wrapper">
            <form [formGroup]="createForm" (ngSubmit)="createPost()">
                <div class="card">
                    <div class="card-header">
                        <h2>Create Post</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label" for="input-title">Title</label>
                            <input id="input-title" class="form-control form-control-alternative"
                                placeholder="Input title" formControlName="title" type="text">
                            <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                <div *ngIf="f['title'].errors!['required']">Title is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-content">Content</label>
                            <textarea class="form-control form-control-alternative" id="input-content"
                                formControlName="content" placeholder="Input content"></textarea>
                            <div *ngIf="submitted && f['content'].errors" class="invalid-feedback">
                                <div *ngIf="f['content'].errors!['required']">Content is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Hashtag</label>
                            <tag-input [(ngModel)]='hashtags' [theme]="'fooma-theme'" [ngModelOptions]="{standalone: true}">
                            </tag-input>
                            <div *ngIf="submitted && hashtags.length === 0" class="invalid-feedback">
                                Hashtag is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Upload Images</label><br>
                            <div >
                                <button type="button" class="btn-upload" (click)="fileInput.click()">
                                    <span><i class="fas fa-upload"></i>  Upload</span>
                                    <input #fileInput type="file" accept="image/*" multiple (change)="selectFiles($event)"  style="display:none;" />
                                </button>
                                <span class="gallery-item" *ngFor="let preview of previews; let i = index">
                                    <img [src]="preview" alt="gallery thumbnail" class="gallery-img preview" [ngClass]="{'thumbnail': thumbnailNumber === i}" />
                                    <a (click)="removeImgPreview(preview)" class="remove-button"><i class="fas fa-times-circle"></i></a>
                                    <a (click)="setThumbnail(i)" class="thumbnail-button"><i class="fas fa-bookmark"></i></a>
                                </span>
                            </div>
                            <div *ngIf="submitted && previews.length === 0" class="invalid-feedback">
                                Image is required
                            </div>
                        </div>
                        <div class="form-group">
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button *ngIf="!isDone" type="submit" [disabled]="isLoading" class="btn btn-fooma">Create</button>
                                <div *ngIf="isDone" class="mt-2">
                                    <h2>Post created successfully <a class="text-fooma" [routerLink]="['../']">Go back</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>