.nav-item a:focus {
    outline: unset;
}

.nav-item a:hover {
    border: 1px solid #fff !important;
}

.nav-item a {
    color: black !important;
    font-weight: 600;
    padding: 12px 40px 12px 40px;
}

.nav-item .active {
    color: #f36039 !important;
    border: none !important;
    border-bottom: 3px solid #f26139 !important;
    background-color: transparent;
    font-weight: 600;
}

.nav-item .active:hover {
    border: none !important;
    border-bottom: 3px solid #f26139 !important;
}