<ng-template #templateStatusBox let-link="link" let-form="form">
    <label class="form-control-label" for="input-status">{{link.name}}</label><br />
    <div ngbDropdown class="d-inline-block w-100">
        <input type="button" class="btn btn-outline-fooma btn-block" id="dropdownBasic1"
            ngbDropdownToggle [value]="form.get(link.key).value.value || link.value[0].value"/>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
            <button type="button" class="dropdown-item" *ngFor="let status of link.value"
            (click)="form.get(link.key).setValue(status)">
                {{status.value}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #templateInput let-link="link" let-form="form">
    <label class="form-control-label" for="input-address">{{link.name}}</label>
    <input id="input-address" class="form-control form-control-alternative" placeholder="Nhập {{link.name}}"
        [formControl]="form.get(link.key)" type="text">
</ng-template>

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cập nhật</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="col-xl order-xl-1">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h6 class="heading-small text-muted mb-4">Thông tin</h6>
                <div class="pl-lg">
                    <div class="row" *ngFor="let item of fromParent; index as i">
                        <div *ngIf="i > 0" class="col-md-12">
                            <div *ngIf="item.type === 'boolean'" class="form-group">
                                <label class="form-control-label" for="input-status">{{item.name | titlecase}}</label><br />
                                <div ngbDropdown class="d-inline-block w-100">
                                    <input type="button" class="btn btn-outline-fooma btn-block" id="dropdownBasic1"
                                        ngbDropdownToggle
                                        [value]="form.get(item.key)?.value.value || item.value[0].value" />
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
                                        <button type="button" class="dropdown-item" *ngFor="let status of item.value"
                                            (click)="form.get(item.key)?.setValue(status)">
                                            {{status.value}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="item.type === 'string'" class="form-group">
                                <label class="form-control-label" for="input-address">{{item.name | titlecase}}</label>
                                <input id="input-address" class="form-control form-control-alternative" placeholder="Nhập {{item.name}}" [formControlName]="item.key" type="text">
                                <div *ngIf="submitted && f[item.key].errors" class="invalid-feedback">
                                    <div *ngIf="f[item.key].errors!['required']">{{item.name}} không được để trống</div>
                                </div>
                            </div>
                            <div *ngIf="item.type === 'number'" class="form-group">
                                <label class="form-control-label" for="input-address">{{item.name | titlecase}}</label>
                                <input id="input-address" class="form-control form-control-alternative" placeholder="Nhập {{item.name}}" [formControlName]="item.key" step="1" min="1" type="number">
                                <div *ngIf="submitted && f[item.key].errors" class="invalid-feedback">
                                    <div *ngIf="f[item.key].errors!['required']">{{item.name}} không được để trống</div>
                                </div>
                            </div>
                            <div *ngIf="item.type === 'file'" class="form-group">
                                <label class="form-control-label" for="input-address">{{item.name | titlecase}}</label><br>
                                <button type="button" class="btn btn-info" (click)="fileInput.click()">
                                    <span><i class="fas fa-upload"></i>  Upload</span>
                                    <input #fileInput type="file" accept="image/*" (change)="selectFiles($event, item.key)" style="display:none;"/>
                                </button>
                                <div *ngIf="submitted && f[item.key].errors" class="invalid-feedback">
                                    <div *ngIf="f[item.key].errors!['required']">{{item.name}} không được để trống</div>
                                </div>
                                <div class="gallery-item d-flex justify-content-center mt-4">
                                    <img [src]="form.get(item.key)?.value || 'assets/img/thumb/default_thumbnail.png'" alt="gallery thumbnail" class="gallery-img preview"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-fooma btn-block">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close()">Đóng</button>
</div>