html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px #00000055;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #ff8a15;	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
