<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 card-wrapper">
                <div class="header-body">
                    <a [routerLink]="['../../']" class="btn btn-info mb-4">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner [enabled]="isLoading"></app-spinner>
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-8 card-wrapper">
            <app-spinner [enabled]="isGettingData"></app-spinner>
        </div>
        <div *ngIf="!isGettingData" class="col-lg-8 card-wrapper">
            <form [formGroup]="form" (ngSubmit)="updateRecipe()">
                <div class="card">
                    <div class="card-header">
                        <h2>Cập nhật công thức</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label" for="input-name">Tên công thức</label>
                            <input id="input-name" class="form-control form-control-alternative"
                                placeholder="Nhập tên công thức" formControlName="name" type="text">
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors!['required']">Tên công thức không được để trống</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-description">Miêu tả</label>
                            <textarea class="form-control form-control-alternative" id="input-description"
                                formControlName="description" placeholder="Nhập miêu tả"></textarea>
                            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                <div *ngIf="f['description'].errors!['required']">Miêu tả không được để trống</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-control-label" for="input-preparationTime">Thời gian chuẩn bị (phút)</label>
                                <input id="input-preparationTime" class="form-control form-control-alternative"
                                    placeholder="Nhập thời gian chuẩn bị (phút)" formControlName="preparationTime" type="number">
                                <div *ngIf="submitted && f['preparationTime'].errors" class="invalid-feedback">
                                    <div *ngIf="f['preparationTime'].errors!['required']">Thời gian chuẩn bị không được để trống</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-control-label" for="input-cookingTime">Thời gian nấu (phút)</label>
                                <input id="input-cookingTime" class="form-control form-control-alternative"
                                    placeholder="Nhập thời gian nấu (phút)" formControlName="cookingTime" type="number">
                                <div *ngIf="submitted && f['cookingTime'].errors" class="invalid-feedback">
                                    <div *ngIf="f['cookingTime'].errors!['required']">Thời gian nấu không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-control-label" for="input-serves">Khẩu phần</label>
                                <input id="input-serves" class="form-control form-control-alternative"
                                    placeholder="Nhập khẩu phần (người)" formControlName="serves" type="number">
                                <div *ngIf="submitted && f['serves'].errors" class="invalid-feedback">
                                    <div *ngIf="f['serves'].errors!['required']">Khẩu phần không được để trống</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-control-label" for="input-calories">Calories</label>
                                <input id="input-calories" class="form-control form-control-alternative"
                                    placeholder="Nhập calories" formControlName="calories" type="number">
                                <div *ngIf="submitted && f['calories'].errors" class="invalid-feedback">
                                    <div *ngIf="f['calories'].errors!['required']">Calories không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label class="form-control-label" for="input-hashtag">Xuất xứ</label>
                                <tag-input [(ngModel)]='origin' [theme]="'fooma-theme'" [identifyBy]="'id'"
                                    [displayBy]="'originName'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Xuất xứ" placeholder="Xuất xứ" (onSelect)="onTagSelected($event)"
                                    [ngModelOptions]="{standalone: true}">
                                    <tag-input-dropdown
                                        [autocompleteObservable]="requestAutocompleteItemsOrigin$"
                                        [displayBy]="'originName'"
                                        [identifyBy]="'id'"
                                        [showDropdownIfEmpty]="true"
                                        [minimumTextLength]="0"
                                        [focusFirstElement]="true"
                                        [keepOpen]="false"
                                    >
                                    </tag-input-dropdown>
                                </tag-input>
                                <div *ngIf="submitted && origin.length === 0" class="invalid-feedback">
                                    Xuất xứ không được để trống
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-control-label" for="input-hashtag">Phương pháp</label>
                                <tag-input [(ngModel)]='method' [theme]="'fooma-theme'" [identifyBy]="'id'"
                                    [displayBy]="'cookingMethodName'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Phương pháp" placeholder="Phương pháp" (onSelect)="onTagSelected($event)"
                                    [ngModelOptions]="{standalone: true}">
                                    <tag-input-dropdown
                                        [autocompleteObservable]="requestAutocompleteItemsMethod$"
                                        [displayBy]="'cookingMethodName'"
                                        [identifyBy]="'id'"
                                        [showDropdownIfEmpty]="true"
                                        [minimumTextLength]="0"
                                        [focusFirstElement]="true"
                                        [keepOpen]="false"
                                    >
                                    </tag-input-dropdown>
                                </tag-input>
                                <div *ngIf="submitted && origin.length === 0" class="invalid-feedback">
                                    Phương pháp không được để trống
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Danh mục</label>
                            <tag-input [(ngModel)]='categories' [theme]="'fooma-theme'" [identifyBy]="'recipeCategoryId'"
                                [displayBy]="'recipeCategoryName'" [onlyFromAutocomplete]="true" secondaryPlaceholder="Danh mục" placeholder="Danh mục" (onSelect)="onTagSelected($event)"
                                [ngModelOptions]="{standalone: true}" id="categories">
                                <tag-input-dropdown
                                    [autocompleteObservable]="requestAutocompleteItemsCategory$"
                                    [displayBy]="'recipeCategoryName'"
                                    [identifyBy]="'id'"
                                    [showDropdownIfEmpty]="true"
                                    [minimumTextLength]="0"
                                    [focusFirstElement]="true"
                                    [keepOpen]="false"
                                >
                                </tag-input-dropdown>
                            </tag-input>
                            <div *ngIf="submitted && categories.length === 0" class="invalid-feedback">
                                Danh mục không được để trống
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-control-label" for="input-hashtag">Hashtag</label>
                            <tag-input placeholder="Add Hashtag" secondaryPlaceholder="Thêm Hashtag" [(ngModel)]='hashtags' [theme]="'fooma-theme'"
                                [ngModelOptions]="{standalone: true}">
                            </tag-input>
                        </div> -->
                        <div class="form-group">
                            <label class="form-control-label" for="input-hashtag" id="previews">Upload ảnh</label><br>
                            <div *ngIf="submitted && previews.length === 0" class="invalid-feedback">
                                Hình ảnh không được để trống
                            </div>
                            <div>
                                <button type="button" class="btn-upload" (click)="fileInput.click()">
                                    <span><i class="fas fa-upload"></i> Upload</span>
                                    <input #fileInput type="file" accept="image/*" multiple
                                        (change)="selectFiles($event)" style="display:none;" />
                                </button>
                                <span class="gallery-item" *ngFor="let preview of previews; let i = index">
                                    <img [src]="preview" alt="gallery thumbnail" class="gallery-img preview"
                                        [ngClass]="{'thumbnail': thumbnailNumber === i}" />
                                    <a (click)="removeImgPreview(preview)" class="remove-button"><i
                                            class="fas fa-times-circle"></i></a>
                                    <a (click)="setThumbnail(i)" class="thumbnail-button"><i
                                            class="fas fa-bookmark"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Nguyên liệu</h2>
                    </div>
                    <div class="card-body" formArrayName="ingredients">
                        <div class="rounded px-4 py-2 mb-4 shadow" *ngFor="let ingredient of formIngredient.controls; let i = index">
                            <div class="form-group" [formGroupName]="i">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <label class="form-control-label" for="input-hashtag">Tên nguyên liệu</label>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="btn-group">
                                            <!-- <a class="mr-2" (click)="increaseIngredient()">
                                                <h2 class="text-fooma"><i class="fas fa-plus-circle"></i></h2>
                                            </a> -->
                                            <a *ngIf="i >= 1" (click)="removeIngredient(i)">
                                                <h2 class="text-danger"><i class="fas fa-minus-circle"></i></h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <tag-input formControlName="ingredientName" [theme]="'fooma-theme'" [identifyBy]="'id'"
                                    [displayBy]="'ingredientName'" [maxItems]="1" [onlyFromAutocomplete]="true" secondaryPlaceholder="Thêm nguyên liệu" placeholder="Thêm nguyên liệu" (onAdd)="onAdd($event, i)" [onAdding]="onAdding" (onSelect)="onTagSelected($event)"
                                    >
                                    <tag-input-dropdown
                                        [autocompleteObservable]="requestAutocompleteItemsIngredient$"
                                        [displayBy]="'ingredientName'"
                                        [identifyBy]="'id'"
                                        [showDropdownIfEmpty]="true"
                                        [minimumTextLength]="0"
                                        [focusFirstElement]="true"
                                        [keepOpen]="false"
                                    >
                                    </tag-input-dropdown>
                                </tag-input>
                                <div *ngIf="submitted && formIngredient.controls[i]['controls']['ingredientName']['errors']" class="invalid-feedback">
                                    <div *ngIf="formIngredient.controls[i]['controls']['ingredientName']['errors']['required']">Nguyên liệu không được để trống</div>
                                </div>
                            </div>
                            <div class="form-row" [formGroupName]="i">
                                <div class="col">
                                    <label class="form-control-label" for="input-quantity">Số lượng</label>
                                    <input id="input-quantity" class="form-control form-control-alternative"
                                        placeholder="Nhập số lượng" type="number" min="1" formControlName="quantity" required>
                                    <div *ngIf="submitted && formIngredient.controls[i]['controls']['quantity']['errors']" class="invalid-feedback">
                                        <div *ngIf="formIngredient.controls[i]['controls']['quantity']['errors']['required']">Số lượng không được để trống</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="form-control-label" for="input-unit">Đơn vị</label>
                                    <input id="input-unit" class="form-control form-control-alternative"
                                        placeholder="Nhập đơn vị" type="string" formControlName="unit" required>
                                    <div *ngIf="submitted && formIngredient.controls[i]['controls']['unit']['errors']" class="invalid-feedback">
                                        <div *ngIf="formIngredient.controls[i]['controls']['unit']['errors']['required']">Đơn vị không được để trống</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3" [formGroupName]="i">
                                <div class="custom-checkbox" style="color: #525f7f; font-size: 0.875rem; font-weight: 600;">
                                    <input id="check-{{i}}" type="checkbox" formControlName="isMain">
                                    <label class="mb-0" for="check-{{i}}">Nguyên liệu chính</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" (click)="increaseIngredient()" class="btn btn-fooma">Thêm nguyên liệu</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Các bước làm</h2>
                    </div>
                    <div class="card-body" formArrayName="methods">
                        <div class="rounded px-4 py-2 mb-4 shadow" *ngFor="let method of formMethod.controls; let i = index" [formGroupName]="i">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h3 for="input-hashtag" class="text-fooma">Bước {{i+1}}</h3>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="btn-group">
                                            <a *ngIf="i >= 1" (click)="removeMethod(i)">
                                                <h2 class="text-danger"><i class="fas fa-minus-circle"></i></h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="input-content">Nội dung</label>
                                <textarea class="form-control form-control-alternative" id="input-content"
                                formControlName="content" placeholder="Nhập nội dung"></textarea>
                                <div *ngIf="submitted && formMethod.controls[i]['controls']['content']['errors']" class="invalid-feedback">
                                    <div *ngIf="formMethod.controls[i]['controls']['content']['errors']['required']">Nội dung không được để trống</div>
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <label class="form-control-label" for="input-hashtag">Upload ảnh</label><br>
                                <div class="d-inline-block">
                                    <button type="button" class="btn-upload" (click)="fileInput.click()">
                                        <span><i class="fas fa-upload"></i> Tải lên</span>
                                        <input #fileInput type="file" accept="image/*" multiple
                                            (change)="selectFilesMethod($event, i)" style="display:none;" />
                                    </button>
                                    <span class="gallery-item" *ngFor="let preview of formMethod.controls[i]['controls']['images']['controls']; let j = index">
                                        
                                        <img [src]="preview.value" alt="gallery thumbnail" class="gallery-img preview"/>
                                        <a (click)="removeImgMethod(i,j)" class="remove-button"><i class="fas fa-times-circle"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" (click)="increaseMethod()" class="btn btn-fooma">Thêm bước</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button *ngIf="!isDone" type="submit" [disabled]="isLoading" class="btn btn-block btn-fooma mb-4">Cập nhật</button>
                        <div *ngIf="isDone" class="mt-2">
                            <h2>Đã cập nhật công thức thành công. <a class="text-fooma" [routerLink]="['../../']">Quay lại</a></h2>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>