<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Gỡ ban người dùng <b>{{user.name}}</b></h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<app-spinner [enabled]="isLoading"></app-spinner>
<div class="modal-body">
    <p><strong>Bạn có chắc là muốn gỡ ban người dùng <span class="text-primary">"{{user.name}}"</span>?</strong></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel click')">Hủy</button>
    <button type="button" class="btn btn-danger" (click)="onSubmit()">Có</button>
</div>