<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Welcome to FOOMA!</h1>
                    <p class="text-lead text-light">Login to perform the management.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-4">
                    <div class="text-center">
                        <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/login']">
                            <img src="./assets/img/brand/logo.png" class="navbar-brand-img mb-2" alt="logo" style="width: 150px;">
                        </a>
                    </div>
                    <div class="text-center text-muted mb-4">
                        <small>Enter your details below.</small>
                    </div>
                    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" formControlName="email" placeholder="Email" type="text">
                            </div>
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" formControlName="password" placeholder="Password" type="password">
                            </div>
                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                            </div>
                            <div *ngIf="form.hasError('unauthorized')" class="invalid-feedback">
                                Email or Password incorrect
                            </div>
                        </div>
                        <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                            <label class="custom-control-label" for=" customCheckLogin">
                                <span class="text-muted">Remember me</span>
                            </label>
                        </div>
                        <div class="text-center">
                            <button type="submit" [disabled]="loading" class="btn btn-fooma my-4">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-right">
                    <a href="forgot-password" class="text-light"><small>Forgot password?</small></a>
                </div>
            </div>
        </div>
    </div>
</div>